<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto&display=swap" rel="stylesheet">

    <style>
        .bg-img {
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 200px;
            width: 500px;
            height: 500px;
            box-shadow: 3px 10px 51px 3px rgba(0, 0, 0, 0.75);
            background-color: whitesmoke;
            border-radius: 13px;

        }

        .box .message {

            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: 1rem;

        }

        .checkmark__circle {
            stroke-dasharray: 166;
            stroke-dashoffset: 166;
            stroke-width: 2;
            stroke-miterlimit: 10;
            stroke: #7ac142;
            fill: none;
            animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
        }

        .checkmark {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            display: block;
            stroke-width: 2;
            stroke: #fff;
            stroke-miterlimit: 10;
            margin: 10% auto;
            box-shadow: inset 0px 0px 0px #7ac142;
            animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
        }

        .checkmark__check {
            transform-origin: 50% 50%;
            stroke-dasharray: 48;
            stroke-dashoffset: 48;
            animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
        }

        @keyframes stroke {
            100% {
                stroke-dashoffset: 0
            }
        }

        @keyframes scale {

            0%,
            100% {
                transform: none
            }

            50% {
                transform: scale3d(1.1, 1.1, 1)
            }
        }

        @keyframes fill {
            100% {
                box-shadow: inset 0px 0px 0px 30px #7ac142
            }
        }

        @media only screen and (max-width: 480px) {

            .box {
                width: 50vw;
                height: 250px;

            }

            .box .message {
                font-size: small;
            }

            .bg-img img {
                display: none;

            }

        }

        @media only screen and (min-device-width : 480px) and (max-device-width : 854px) {
            .bg-img img {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .box {
                top: 60px;
                width: 40vw;
                height: 180px;

            }

            .box .message {
                font-size: x-small;
            }
        }

        @media only screen and (min-device-width : 855px)  and (max-device-width : 1280px){
            .bg-img img {
                width: 100%;
            }
            .box {
                display: flex;
                justify-content: center;
                align-items: center;
                top: 100px;
                width: 40vw;
                height: 300px;

            }

            .box .message {
                font-size: x-small;
            }
         

        }
    </style>
</head>

<body>
    <div class="bg-img">
        <img src="blur.png" alt="">

        <div class="box">
            <div class="message">
                <h1> Thanks for Reaching out </h1>
                <h3>we will reach out to you soon...</h3>


                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                </svg>
            </div>

        </div>
    </div>




</body>

</html>